.section-title h2 {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
  margin: 0 0 20px 0;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background-color: var(--primary);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 0px 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
