.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    color: #fff;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background-color: rgba(0, 0, 0, 0.350);
  }
  
  .skills .progress-bar {
    height: 12px;
    transition: 0.9s;
    background-color: var(--primary);
  }
  